<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="classroom", method="post">
        <input name="classroomId", value="{{room.classroomId}}">
        <input name="classroomNumber", value="{{room.classroomNumber}}">
        <input name="housingNumber", value="{{room.housingNumber}}">
        <input name="numberOfSeats", value="{{room.numberOfSeats}}">
        <input name="multimedia", value="{{room.multimedia}}">
        <input name="status", value="{{room.status}}">
        <input type="submit" value="Send">
</form>
</body>
</html>