<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

    <form action="user_update", method="post">
        <input name="userId", value="{{user.userId}}">
        <input name="fName", value="{{user.fName}}">
        <input name="mName", value="{{user.mName}}">
        <input name="lName", value="{{user.lName}}">
        <input name="email", value="{{user.email}}">
        <input name="password", value="{{user.password}}">
        <input name="emailChecked", value="{{user.emailChecked}}">
        <input type="submit", value="Submit">
    </form>
</body>
</html>