<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="log">
        <a class="link" href="/logout">log out</a>
    </div>
    <div class="wrapper">
        <div class="search form">
            <h2> SEARCH PAGE</h2>
            <a class="sign" href="/search">Search</a>
            <br>
            <a class="sign" href="/bookingsbyuser">Edit list</a>
        </div>
    </div>
</body>
</html>